# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tine Marbjerg\OneDrive - Københavns Erhvervsakademi\1.semester e2020\8. Programmer\flipcoin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
